* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: whitesmoke;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 650px !important;
  margin: 10px;
  outline: none;
  border: 1px solid gray !important;
  font-size: 1.5rem !important;
  font-weight: bolder !important;
}

button {
  margin: 10px !important;
}

h1 {
  margin: 50px;
}
